
.e-com-navbar{
    background-color: #047aea;
    
}
.e-com-navbar .navbar-brand{
    color: white;
}
.e-com-navbar .nav-link{
    color: white;
    font-weight: bold;
}
.e-com-navbar #search-div .ecom-search-button{
    background-color: #047aea;
    border: none;
 
}