#floating-cart {
    display: flex;
    flex-direction: column;  /* Stack cart icon and button vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    width: 100px;            /* Adjust size based on your needs */
    height: 100px;
    position: fixed;
    right: 2%;
    top: 5%;
}

.ecom-cart-icon {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 2em;
}

.dropdown-toggle::after {
    display: none !important;
}

