
@import './global/app-global.css';
.e-com-navbar{
    background-color:var(--primary-color);
    
}
.e-com-navbar .navbar-brand{
    color: white;
}
.e-com-navbar .nav-link {
  color: var(--inactive-text-color-nav-bar);
  position: relative;
  display: inline-block;
}

.e-com-navbar .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  bottom: 0;
  left: 0;
  background-color: var(--active-text-color-nav-bar); /* Color of the underline */
  transition: width 0.3s ease-in-out;
}

.e-com-navbar .nav-link:hover::after {
  width: 100%;
}
.e-com-navbar .nav-link.active-link::after {
  width: 100%;
}
#navbar-search-div{
  width: 50%;
}

#_avtar_div #avtar_icon{
  background: none;
  border:none;
  font-size: 25px !important;
  color: white;
  
}
#_avtar_div a{
  color: white;
  text-decoration: none;
  margin: 2;
}

#_avtar_div .user_actions{
  
}
.e-com-navbar .nav-link.active-link {
  color: var(--active-text-color-nav-bar);
  font-weight: bold;
}
.navbar_search_field{
height: 40px;
border: none;
border-bottom: 1px solid white;
background-color: transparent;
color: white;
width: 0px;
visibility: hidden;
transition: width 0.5s ease-in-out;
}
.navbar_search_field.active{
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  visibility: visible;
  
  }

.navbar_search_field:focus{
 
  border: none !important;
  border-bottom: 1px solid white !important;
  background-color: transparent;
  color: white;
  outline: none;
}

#navbar_search_button {
  background-color: transparent;
  border: none;
}
#cart-section i{
color: white;
}
.search-div-icons{
  color: white;
  font-size: 25px !important;
}

#ecom-search-panel form .form-group #search_text_field:focus {
    outline: none; /* Remove default outline */
    border-color: var(--primary-color); /* Custom border color */
    box-shadow: 0 0 5px 2px var(--primary-color-rgba); /* Custom glow (orange in this case) */
  }

#ecom-search-panel form .form-group #search_text_field{
    margin-top: 5px;
    margin-left: 5px;
    width: 50%;
    height: 25%;
}
input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: white;
  }
  
  input::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  
  input:-ms-input-placeholder { /* IE 10+ */
    color: var(--primary-color);
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--primary-color);
  }
  
  input::placeholder { /* Modern browsers */
    color: white;
  }