@import'./global/app-global.css';
.product_items_wrapper .product_card{
    width: 15rem;
}
.product_items_wrapper .product_card_image{
    width: 6rem;
    height: 6rem;
}
.product_items_wrapper .product_card_details{
    color: red;
}
#add_to_cart_button{
    position:absolute;
    bottom: -5px;
    width: 90%;
    left: 50%;
    opacity: 0.8;
    transition:  0.3s ease-in-out;
    transform: translateX(-50%);
    visibility: hidden;

}

#explore_more_label{
    position:fixed;
    left: 5px;
    top: 69%;
    z-index: 100;
}
.product_items_wrapper .product_card:hover #add_to_cart_button{
    visibility: visible;
    bottom: 2px;
}

.load-info{
    position: absolute;
    left: 50%;
    top:50%;
    
}